    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    

    </head>
    
    <body>
        <h2 align="center">일반게시판 상세보기</h2>
        <div class="outer" id="outer">
            
            <form action="board.bo">

                <table border ="1" width="500" height=400  bordercolor="black" text-align="center">
                    <tr>
                        <th width="60" height="30">카테고리</th>
                        <th width="80"></th>
                        <th width="60">제목</th>
                        <th></th>                          
                    </tr>
                    
                    <tr>
                        <td width="60"height="30" >작성자</td>   
                        <td></td>
                        <td>작성일</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>내용</td>
                        <td colspan="3"></td>
                    </tr>

                    <tr>
                        <td width="60"height="30">첨부파일</td>
                        <td colspan="3"></td>
                        

                    </tr>
                </table>
                
                
            </form>
        </div>

        
    </body>
    </html>